.footer-container {
    padding: 7rem 4.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #090c0f;
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.footer-brand {
    font-size: 2rem;
    padding-bottom: 2rem;
}

.mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-img {
    height: 8rem;
    width: 10rem;
    border-radius: 1.5rem;
    margin-right: 1rem;
}

.mobile-h5 {
    color: var(--accent);
    font-size: .9rem;
    font-weight: 500;
    padding-bottom: .5rem;
}

.mobile-p {
    font-size: 1rem;
    font-weight: 500;
}

.footer-header {
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 1rem;
    padding-bottom: 2rem;
}

.list li {
    padding-bottom: .8rem;
    font-weight: 500;
    cursor: pointer;
}

.news {
    width: 25%;
}

.newsletter {
    font-size: .9rem;
    font-weight: 500;
    line-height: 1.3;
    padding-bottom: 1rem;
}

.footer-input {
    padding: .8rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.btn {
    width: 45%;
    padding: .7rem 1rem;
}

.footer-icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .7rem;
    width: fit-content;
}

.icon {
    height: 3rem;
    width: 3rem;
    padding: .4rem;
    border-radius: 8px;
    cursor: pointer;
    color: var(--text-primary);
    background-color: rgba(128, 128, 128, .2);
}